<!DOCTYPE html>
<html>
<head>
  <title>Blogo</title>
  <%= javascript_include_tag "blogo/admin/application" %>
  <%= stylesheet_link_tag "blogo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if blogo_current_user %>
    <div id="admin-menu">
      <%= render "blogo/admin/shared/nav_bar" %>
    </div>
  <% end %>

  <div id="admin-container">
    <div id="content">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}", class: (name == :notice ? "alert alert-info" : "alert alert-error") %>
      <% end %>

      <%= yield %>
    <div id="main">
  </div>
</body>
</html>
