<!DOCTYPE html>
<html>
<head>
  <title><%= @meta[:title] %></title>
  <meta charset="UTF-8">
  <%= render partial: 'blogo/posts/meta' %>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "blogo/application" %>

  <%= auto_discovery_link_tag :atom, feed_path %>
  <%= render 'blogo/shared/google_analytics' %>
</head>
<body>
  <div id="container">
    <header class="blogo-header">
      <h1>
        <%= link_to Blogo.config.site_title, root_path %>
      </h1>
      <h2><%= Blogo.config.site_subtitle %></h2>
    </header>

    <div id="content">
      <div class="pure-g-r">
        <div class="pure-u-3-4">
          <%= yield %>
        </div>

        <div class="pure-u-1-4">
          <%= render partial: 'blogo/shared/aside' %>
        </div>
      </div>

    </div>
  </div>
</body>
</html>
