<%= f.error_messages %>

<div class="pure-g-r form-new-post">
  <div class="pure-u-17-24">
    <div class="left-fields"^>
      <%= f.text_field :title, required: true, id: 'post-title', placeholder: 'Post Title' %>

      <%= f.text_area :raw_content, class: 'ckeditor', required: true %>

      <%= f.text_field :tags_string, placeholder: 'Tags separated with commas' %>
    </div>
  </div>

  <div class="pure-u-7-24">
    <%= f.text_field :permalink, class: 'pure-input-1', required: true, id: 'permalink', placeholder: 'unique-permalink' %>

    <%= f.label :published_at, 'Published on' %>
    <%= f.text_field :published_at, class: 'pure-input-1', id: 'input-datepicker', placeholder: 'Today' %>

    <%= f.label :published, class: 'pure-checkbox' do %>
      <%= f.check_box :published %>
      Publish
    <% end %>

  </div>
</div>

<br />
<%= f.button "Save" , class: 'pure-button button-success', id: 'button-save' %>
<%= f.button "Preview" , class: 'pure-button button-secondary', id: 'button-preview' %>


<section class="semantic-content" id="modal-preview" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-inner">
    <header id="modal-label">
      <h1>Preview. Press ESC to back.</h1>
    </header>
    <div class="modal-content"><iframe></iframe></div>
  </div>
  <a href="#!" class="modal-close" title="Close preview" data-close="Close" data-dismiss="modal">×</a>
</section>



<script>
  jQuery(function(){
    new Pikaday({
      field: document.getElementById('input-datepicker'),
      format: 'YYYY-MM-DD'
    });

    $('#post-title').titleToUrl('#permalink')

    var preview = new PostPreview('button-preview', 'post-form', '<%= admin_post_preview_path %>', 'modal-preview');
    preview.init();
  })
</script>
