<h1 class="admin-header"><%= t('admin.posts') %></h1>

<table class="pure-table pure-table-striped">
  <thead>
    <tr>
      <th><%= t('admin.title') %></th>
      <th><%= t('admin.status') %></th>
      <th><%= t('admin.author') %></th>
      <th><%= t('admin.published_on') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post|%>
      <%= render partial: 'post_li', locals: {post: post} %>
    <% end %>
  </tbody>
</table>
